.section {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.carousel-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  height:80%;
  background: blue;
}

.carousel-viewer {
  position: relative;
  background:yellow;
  width:500px;
  height: 80%;
  border-radius: 30px;
  overflow:hidden;
}

.carousel-slider {
  display:flex;
  align-items: center;
  background:green;
  width:400%;
  height:100%;
}


.box-component {
  height:100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  border:2px solid black;
  background: red;
}
.box-component:nth-child(even) {
  background:orange;
}

button {
  position: relative;
  z-index:1000;
}
